<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Edificios</mat-card-title>
            <div id="botones">
                <button mat-button (click)="formularioCrear()">Agregar</button>
                <button mat-icon-button matTooltip="Recargar" (click)="obtenerEdificios()"><mat-icon>refresh</mat-icon></button>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="overflow-x">
                <table mat-table [dataSource]="edificios">
                    <!-- ID -->
                    <ng-container matColumnDef="idEdificio">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">{{ element.idEdificio }}</td>
                    </ng-container>
    
                    <!-- Nombre -->
                    <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let element"><a class="name-link" [routerLink]="['detalle', element.idEdificio]">{{ element.nombre }}</a></td>
                    </ng-container>
    
                    <!-- Dirección -->
                    <ng-container matColumnDef="direccion">
                    <th mat-header-cell *matHeaderCellDef>Dirección</th>
                    <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
                    </ng-container>
    
                    <!-- Cantidad de pisos -->
                    <ng-container matColumnDef="numPisos">
                    <th mat-header-cell *matHeaderCellDef>Pisos</th>
                    <td mat-cell *matCellDef="let element">{{ element.numPisos }}</td>
                    </ng-container>
    
                    <!-- Acciones -->
                    <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button matTooltip="Editar" (click)="formularioEditar(element.idEdificio)"><mat-icon>edit</mat-icon></button>
                        <!-- <button mat-icon-button matTooltip="Eliminar"><mat-icon>delete</mat-icon></button> -->
                    </td>
                    </ng-container>
                    <tr
                    mat-header-row
                    *matHeaderRowDef="['idEdificio', 'nombre', 'direccion', 'numPisos', 'acciones']"
                    ></tr>
                    <tr
                    mat-row
                    *matRowDef="
                        let row;
                        columns: ['idEdificio', 'nombre', 'direccion', 'numPisos', 'acciones']
                    "
                    ></tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>
