<div class="container">
    <img src="logo mirador.png" alt="logo" height="250">
    <form [formGroup]="loginForm">
        <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <input matInput type="email" formControlName="email" placeholder="ej. juanito@gmail.com">
            <mat-hint>Introduce tu correo electrónico</mat-hint>
            <mat-error>
                @if (loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')) {
                    Correo electrónico no válido
                } @else if (loginForm.controls.email.hasError('required')) {
                    Correo electrónico <strong>requerido</strong>
                }
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="password" placeholder="********">
        </mat-form-field>
        <button mat-flat-button>Iniciar Sesión</button>
    </form>
</div>