/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    color-scheme: light dark;
    @include mat.theme((
        color: mat.$spring-green-palette,
        density: 0
    ));
}

:root {
    @include mat.button-overrides((
        filled-container-shape: 5px
    ));
}