/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    color-scheme: light dark;
    @include mat.theme((
        color: mat.$spring-green-palette,
        density: 0
    ));
}

:root {
    @include mat.button-overrides((
        filled-container-shape: 5px,
        outlined-container-shape: 5px,
        protected-container-shape: 5px,
        text-container-shape: 5px
    ));
    @include mat.dialog-overrides((
        container-shape: 15px
    ));
}

.container {
    padding: 1.5cap;
}

.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100dvh - 64px);
}